/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
:root {
  --bodyColor: hsl(30, 54%, 90%);
  --secondeBodyColor: hsl(330, 100%, 98%);
  --wihte: hsl(0, 0%, 100%);
  --wengeBrown: hsl(30, 10%, 34%);
  --mainBorder: 0.75rem;
  --headerColor: hsl(332, 51%, 32%);
  --listColor: hsl(24, 5%, 18%);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--bodyColor);
}
.container {
  padding: 0 1rem;
  margin: 0 auto;
}
@media (max-width: 540px) {
  .container {
    width: 90vw;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    width: 80vw;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#root {
  display: grid;
  place-content: center;
  margin-top: 4rem;
}
.main {
  background: var(--wihte);
  border-radius: var(--mainBorder);
  padding: 2rem;
  width: 90vw;
  max-width: 700px;
}
.header-img img {
  width: 100%;
  border-radius: var(--mainBorder);
  height: 250px;
  object-fit: cover;
}
.control-bt {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.control-bt .btn {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.btn:hover,
.btn:focus {
  background-color: #16437e;
  color: #ffffff;
}
.btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}
.btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.prev {
  margin-right: 1rem;
}
.text-header,
.preparation,
.ingredients {
  margin: 2rem 0;
}
h1,
h2 {
  font-family: "Young Serif", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
.text-header p {
  font-family: "Outfit", sans-serif;
  color: var(--wengeBrown);
  line-height: 1.6;
}
.preparation {
  padding: 1.5rem;
  background: var(--secondeBodyColor);
  border-radius: var(--mainBorder);
  font-family: "Outfit", sans-serif;
  text-align: right;
}
.preparation h3 {
  color: var(--headerColor);
  margin-bottom: 1rem;
  text-align: left;
}
.preparation ul,
.ingredients ul {
  padding-left: 1.5rem;
}
.preparation ul li {
  padding-left: 1rem;
  color: var(--listColor);
  padding-bottom: 0.5rem;
}
.preparation ul li .note {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preparation ul li strong {
  color: black;
}
.preparation button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.preparation button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.preparation button:hover {
  background-color: #2c974b;
}
.preparation button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}
.peparation button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.preparation button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.ingredients h2 {
  color: hsl(14, 45%, 36%);
}
.ingredients li {
  padding-left: 1rem;
  color: var(--wengeBrown);
  font-family: "Outfit", sans-serif;
}
.ingredients li:not(:last-child) {
  padding-bottom: 0.5rem;
}
.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 1rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
